
<%= semantic_form_for @business do |f| %>
  <%= f.inputs :name, :address1, :address2, :zip %>

 <h2> Please choose a bartender from the list below </h2>

    <%= f.inputs :for => :bartender do |bartender| %>
    <% if current_user.admin or current_user.bartender %>
      <%= bartender.input :id, :as => :select, :collection => Hash[User.all.map{|b| [b.username, b.id]}]
    %>
      <%end%>
  <%end%>
  <p></p>
  <%= f.action :submit %>
  <%= link_to :back %>
<% end %>