
<ol>
  <li><%= @business.name %></li>
  <li><%= @business.address1%></li>
  <li><%= @business.address2%></li>
  <li><%= @business.zip %></li>
  <li><%= @bartender%>
<p></p>
<%= link_to "edit", edit_business_path(@business) %>
