
<ol>
  <li>Business Name: <%= @business.name %></li>
  <li>Business Address1: <%= @business.address1%></li>
  <li>Business Address2: <%= @business.address2%></li>
  <li>Business ZIP: <%=  @business.zip %></li>
  <% if current_user.admin == false%>
    <li><% @bartenders.each do |x|  %>
           <%= link_to "Follow Bartender: #{x.username}", { action: "follow", username: x.username }%>
        <%end%>
     <%elsif current_user.admin%>
      <%= link_to "edit", edit_business_path(@business) %>
     <%elsif current_user.bartender%>

     <%end%>

  <p></p>

